html {
    background-color: #8C8C8C;
}

#TituloPagina {
    font-size: 63px;
    padding-top: 10px;
    padding-left: 5%;
}

.arIma1 {
    width: 100%;
    margin: 0% auto 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: grayscale(90%);
}

.arIma2 {
    width: 100%;
    margin: 0% auto 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: grayscale(90%);
}

.parrafos {
    padding-top: 5px;
    font-size: 22px;
}

[class^='parrafo'] {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    font-size: 22px;
    text-align: justify;
}

article.articulo1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 100%;
}

article.articulo1 h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

article.articulo1 img {
    grid-column-start: 1;
    grid-column-end: 3;
}

aside.aside1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 75% 25%;
    column-gap: 10px;
    row-gap: 1px;
    width: 100%;
    align-items: center;
}

.parrafoA1 {
    padding-top: 25px;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: justify;
}

.parrafoA2 {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: justify;
}

.parrafoA3 {
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

img.fotopersonal {
    width: 100%;
}

section#seccion2 aside {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100%;
}

section#seccion2 aside {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 27px;
}

section#seccion2>aside a {
    margin: auto 10px auto 10px;
    text-decoration: none;
    color: #0D0D0D;
}

section#seccion2>aside a:active,
section#seccion2>aside a:hover {
    text-decoration: underline;
    color: #595959;
}